body {
  margin: 0;
}
.wrapper {
  height: 100vh;
  background: #5e5e5e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 60px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.btn:last-child {
  margin-right: 0;
}
.btn:before, .btn:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  opacity: 0;
  transition: all 125ms ease-in-out;
}
.close-btn {
  background: #FF5D5B;
  border: 4px solid #CF544D;
}
.min-btn {
  background: #FFBB39;
  border: 4px solid #CFA64E;
}
.max-btn {
  background: #00CD4E;
  border: 4px solid #0EA642;
}
.close-btn:before, .close-btn:after {
  width: 4px;
  height: 70%;
  background: #460100;
}
.close-btn:before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.close-btn:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.min-btn:before {
  width: 70%;
  height: 5px;
  background: #460100;
}
.max-btn:before {
  width: 50%;
  height: 50%;
  background: #024D0F;
}
.max-btn:after {
  width: 9px;
  height: 70%;
  transform: translate(-50%, -50%) rotate(-45deg);
  background: #00CD4E;
}
.btn:hover:before, .btn:hover:after {
  top: 50%;
  opacity: 1;
}
